@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global css start */

:root {
  --primary: #E95A08;
  --secondary: #000000;
  --general-text: #00000061;
}

body {
  background-color: #f5f8ff;
}

section {
  max-width: 1150px;
  margin: 0px auto;
}

p {
  font-family: "Inter";
  color: var(--general-text);
  line-height: 17px;
}

a,
li {
  font-size: 16px;
  color: var(--general-text);
  font-weight: 500;
  font-family: "Inter";
}

span {
  color: var(--primary) !important;
}

/* utility class */
.slow {
  animation-duration: 4s !important;
}

.img-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn {
  padding: 12px 20px;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

/* font family class */
.noto-serif {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* Global css end */


/* Responsive design start */
/*  Bigger device */
@media screen and (min-width:1048px) {

  p {
    font-size: 18px;
    line-height: 27px;
  }

}

/* Responsive design end */